<!DOCTYPE html>
<html>
    <head>
        <title>About us</title>
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <style>
            body{
                background-image: url(../static/img/about.jpg);
                background-repeat: no-repeat;
                background-size: cover;
                opacity: 2;
            }
        </style>
    </head>
    <body>

        <h1 style="text-align: center;color:slateblue;">ABOUT US</h1>
        <hr>
        <p style="color: aqua;font-size: 20px;margin:20px;padding: 23px;">Dear Guests,<br><br>

 

            It gives us immense  pleasure our selves as a reliable tour operator from Chennai – India. We are well known for our perfection & experience in conducting group tours.
            
             
            
            At World Tours we show you the best of destinations across the world. Our motto is personalized care with client satisfaction.<br><br>
            
             
            
            We believe in the concept of team work and lay utmost importance on service delivery standards. We always keeps clarity in cost, amenities, service offered regarding our tour packages and there is nothing known as “Hidden Charges”in our work dictionary.
            
             
            
            Right from choosing the best itinerary, stay, transport, food, for your journey, we ensure that your tour remains memorable throughout your life.</p>
        <p style="color: aqua;font-size: 20px;margin:20px;padding: 23px;">Our Specializations<br><br>
 

            We specialize in customized & group tour Domestic packages. The range of Domestic Holidays we offer includes Heritage tours ,Cultural, Religious, Adventure, Wildlife Holidays. Our services include inbound and international tours, bookings of Hotels and Transportation, arranging Sightseeing tours, booking International and Domestic flights etc…<br><br>
            
             
            
            Your sincerely<br><br>
            
            Holidays Team.</p>
    </body>

</html>
