<!DOCTYPE html>
<html>
    <head>
        <title>Contact</title>
        <style>
            address
            {
           font-size: 30px;
            margin:15px;
            }
        </style>
        <link rel="stylesheet" href="../static/css/style.css">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
    </head>
    <body style="background-color: darkgrey;">
        
        <div id="contact">
           
            <img src="../static/img/contact.jpg">
        <address style="color:darkblue;">
           <b> Head office</b><br><br>
            Written by Kamal<br> 
            Visit us at:<br>
            Box 564, landstreet<br>
            worldtour@gmail.com<br>
            1234567893
            Chennai
            </address>
            <address style="color:purple">
                
            <b>Branch Office Details</b><br><br>
           Shop No.1, Sai Smruti C.H.S.,<br>
           Ganesh Temple Lane, Off L.T. Road,<br>
            Vazira Naka, Borivali (W).<br>
              Mumbai - 400 092<br>
             Tel :(+9122) 28999980 / (+9122) 28997298 / (+9122) 28982452<br>
             E-mail: info@worldtours.com
            </address>
           
            </div>
    </body>
</html>