<!DOCTYPE html>
<html>
    <home>
        <title>
            Dashboard
        </title>
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        
        <style>
            table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
            }
            h1
            {
            background-color:darkgray;
         
            }
 

            </style>
    </home>
    <body style="background-color:rosybrown;">
        <h2 style="text-align: center;color:crimson;font-size: 35px;font-weight: 100;">Welcome to Dashboard</h2>
        <h2 style="text-align: center;color:crimson;font-size: 35px;">Resume</h2>
        <hr>
        <div class="res">
        <img src="../static/img/resume.jpg" style="float: right;">
        <address style="font-size: 20px;margin: 30px;">
            Ganesh H<br>
             B.E – Computer Science and Engineering,<br>                                               
              Adhiyamaan College of Engineering, <br>
              Hosur.<br>
              0123456789<br>
              ganeshhari148@gmail.com<br>
              https://www.linkedin.com/in/ganesh-h-170ba81b9

             </address>
             </div>
             <hr>
             <h1 style="font-size: 30px;margin: 20px;padding: 10px;">CAREER OBJECTIVE</h1>
             <p style="font-size: 25px;margin:20px;padding: 10px;">To obtain employment with a company that offers a positive atmosphere to learn and implement new skills and technologies of the betterment of the organizations.</p>
             <hr>
             <h1 style="font-size: 30px;margin: 20px;padding: 10px;">ACADEMIC OBJECTIVE</h1>
             <table style="padding: 10px;margin: 20px;width:200px;height: 60;">
              <tr>
                  <th>COURSE</th>
                  <th>INSTITUTION </th>
                  <th>YEAR OF PASSING</th>
                  <th>PERCENTAGE</th>
              </tr>
              <tr>
                  <td>B.E (CSE)</td>
                  <td>Adhiyamaan College of Engineering</td>
                  <td>2017-2021</td>
                  <td>80.0</td>
                  </tr>
                  <tr>
                  <td>HSC</td>
                  <td>St.joseph matric higher secondary school</td>
                  <td>2017</td>
                  <td>83.0</td>
                  </tr>
                  <tr>
                  <td>SSLC</td>
                  <td>St.joseph matric higher secondary school</td>
                  <td>2015</td>
                  <td>86.0</td>
                  </tr>              
             </table>
             <hr>
             <h1 style="font-size: 30px;margin: 20px;padding: 10px;">WORKSHOP </h1>
             <ul style="font-size: 25px;margin: 20px;padding: 10px;">
                 <li>“Core Java” by Udemy certificate"</li>
                 <li>“Basic Data Structures” by  Udemy certificate"</li>
             </ul>
             <hr>
             <h1 style="font-size: 30px;margin: 20px;padding: 10px;">Academic project</h1>
             <p style="font-size: 25px;margin: 20px;padding: 10px;">Locust detection using IOT</p>
             <hr>
             <h1 style="font-size: 30px;margin: 20px;padding: 10px;">PROFESSIONAL SKILLS</h1>
             <ul style="font-size: 25px;margin: 20px;padding: 10px;">
                 <li>C</li>
                 <li>Java</li>
                 <li>MYSQL</li>
                 <li>DBMS</li>
             </ul>
             <hr>
             <h1 style="font-size: 30px;margin: 20px;padding: 10px;">INTERPERSONAL SKILLS</h1>
             <ul style="font-size: 25px;margin: 20px;padding: 10px;">
                 <li>Easily adapt any kind of situation</li>
                 <li>Patience and Responsibility</li>
                 <li>Self-motivator</li>
             </ul>
             <hr>
             <h1 style="font-size: 30px;margin: 20px;padding: 10px;">DECLARATION</h1>
             <p style="font-size: 30px;margin: 20px;padding: 10px;">I hereby declare that all the details furnished above information is true to the best of my knowledge and belief.</p>
             <p style="font-size: 30px;margin: 20px;padding: 10px;">Date:18.04.2021	<br>						
                Place: Hosur  <br><br>      (GANESH.H)	</p>



    </body>
</html>