<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <style>
      body
      {
      background-image: url(../static/img/login2.jpg);
      background-size: cover;
      }
    </style>
  </head>
  <body>
    <div id="login">
      <h1><u>Login</u></h1>
      <form action="dashboard.html" target="_blank">
      <input type="text" placeholder="Username" required><br>
      <input type="password" placeholder="Password" required><br>
      <a href="#">Forget Password?</a></br></br>
      <input type="submit" value="Sign in">
      <a style="margin-left: 10px;"href="register.html" target="_blank">Create a Account?</a>
    </form>
    </div>
  </body>
</html>
