<!DOCTYPE html>
<html>
    <head>
    <title>register</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <style>
        body{
          
            background-image: url(../static/img/img2.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: relative;
        }
    </style>
    </head>
    <body>
        <div id="reg">
            <h1>SignUp</h1>
            <form action="login.html">
                <input type="text" placeholder="FirstName" required><br>
                <input type="text" placeholder="LastName" required><br>
                <input type="text" placeholder="UserName" required><br>
                <input type="password" placeholder="Password" required><br>
                <input type="text" placeholder="PhoneNo" required><br>
                
                <input type="submit" value="Submit">
            </form>
        </div>
    </body>
</html>